<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Music DH Objects</title>
  <link rel="icon" href="./img/favicon.png">
  <link rel="apple-touch-icon" href="./img/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&amp;subset=japanese" rel="stylesheet" nonce="">  
  <link href="https://fonts.googleapis.com/css?family=Google+Sans:400,500,700|Roboto:100,300,400,500,700,900&amp;lang=ja" rel="stylesheet" nonce="">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <style>
      .theme--light.v-application{
          background: none;
      }
  </style>
</head>
<body>
    <div id="musicapp">
    <v-app>
        <header>
            <a href="/">
                <img src="./img/DH.svg" alt="logo">
                <h1>Object Finder</h1>
            </a>
        <header>
        <v-main>
            <section class="pre">
                <a href="index.html"><span class="material-icons">arrow_back</span>Go Back Database</a>
            </section>
            <section class="nowplaying">
                <v-card
                    class="mx-auto my-12"
                    max-width="374"
                    align="center"
                >

                    <v-img
                    height="250"
                    src="./img/noimage.png"
                    ></v-img>
                    <v-card-title align="center">{{ songTitle }}</v-card-title>
                    <v-card-subtitle align="center">{{desc}}</v-card-subtitle>
                    <audio src="src"></audio>
                    <v-slider 
                    min="0"
                    max="1000000"
                    class="audio-seeker"
                    v-if="src"
                    :value="parseInt((currentTime / duration) * 1000000) || 0"
                    @input="seek($event)"
                    @focus="seekerFocused = true"
                    @blur="seekerFocused = false"
                    :track-color="white"
                    >
                    </v-slider>
                    <span>
                    {{currentMinsec}}/{{durationMinsec}}
                    </span>
                    <v-divider 
                    class="mx-4"
                    >
                    </v-divider>
                    
                    <v-card-actions class="player-btn">
                        <v-btn color="purple" icon fab large @click="skipPrev">
                            <span class="material-icons">
                                skip_previous
                            </span>
                        </v-btn>
                        <v-btn color="purple" icon fab large @click="play()"　v-if="isPlaying == false">
                            <span class="material-icons">
                                play_arrow
                            </span>
                        </v-btn>
                        <v-btn color="purple" icon fab large @click="pause()"　v-else>
                            <span class="material-icons">
                                pause
                            </span>                            
                        </v-btn>
                        <v-btn color="purple" icon fab large @click="skipNext">
                            <span class="material-icons">
                                skip_next
                            </span>    
                        </v-btn>
                    </v-card-actions>
                    <v-card-actions>
                        <v-slider
                            v-model="vol"
                            class="volume-slider"
                            thumb-label
                            max="100"
                            min="0"
                            prepend-icon="mdi-volume-high"
                        ></v-slider>
                    </v-card-actions>
                </v-card>
            </section>

            <section class="musiclist">
                <v-card class="mx-auto" max-width="374" tile>
                    <v-list dense>
                    <v-subheader>SONG LIST</v-subheader>
                    <v-list-item-group
                        color="primary"
                    >
                        <v-list-item
                        v-for="item in songlist"
                        :key="item.id"
                        v-bind:value="item.id"
                        @click="setNewSong"
                        >
                        <v-list-item-icon>
                            <span class="material-icons">
                                audiotrack
                            </span>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title v-text="item.title"></v-list-item-title>
                        </v-list-item-content>
                        </v-list-item>
                    </v-list-item-group>
                    </v-list>
                </v-card>
            </section>
            <div tag="div" class="bgarea">
                <ul class="objects">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </v-main>
        <v-footer tag="footer" dark color="#1e1e1e">
            <v-card class="wrap">
                <v-card-title>DISCLAIMER</v-card-title>
                <v-card-text>We are not affiliated with Sony Interactive Entertainment (SIE) or any other game developers licensed by SIE. This project is purely for preservation and educational purposes, our team does not accept ANY forms of donations nor any form of compensation.</v-card-text>
                <v-divider name="hr"></v-divider>
                <v-card-text>© All rights Reserved Destination Home.</v-card-text>
            </v-card>
        </v-footer>
    </v-app>
    </div>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="./js/music.js"></script>
</body>
</html>